.home {
    font-family: Avenir-World-for-Disney-Demi,sans-serif;
    color:#fff;
}
.container {
    position: relative;
    min-height: calc(100vh -250px);
    overflow-x: hidden;
    display: block;
    top: 70px;
    padding: 0 calc(3.5vw + 5px);
    background: url("/public/images/home-background.png") center center / cover
      no-repeat fixed;
    height: 100vh;  
}